<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Administración</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/demo.css">
  	<link rel="stylesheet" href="../css/footer-distributed.css">
      <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
<script type="text/javascript">
   (function(){
      emailjs.init("user_GyJIUDIWmgyOkLcOIW176");
   })();
</script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <p class="navbar-brand"><a href="/">Dulce y Frío</a></p>
          {{#if user}}

          <a class="navbar-brand" href="/users/logout">Cerrar sesión</a>
          {{else}}
          <a class="navbar-brand" href="/users/login">Login</a>
          {{/if}}
        </div>
        {{#if user}}
        <a class="navbar-brand" href="/admin/aceptados">Aceptados</a>
         <a class="navbar-brand" href="/admin/cancelados">Rechazados</a>
        {{/if}}
      </div>
    </nav>
    {{{body}}}
    <footer class="footer-distributed">

      <div class="footer-right">

      </div>

      <div class="footer-left">

        <h1 class="" style="color:white">
          FACCI ULEAM
        </h1><br>

        <p>Dulce y Frío &copy; 2017</p>
      </div>

    </footer>
  </body>
</html>
