
<div style="margin:40px">   
 <h3 style="text-align: center">Pedidos cancelados</h3>
        <div id="myProgress" class="progress">
            <div id="myBar" class="progress-bar progress-bar-striped active" role="progressbar"></div>
        </div>
        <div style="height: 440px;overflow: scroll;border: black;" id="pedidosReales" >  
            
        </div>
</div>
 <script src="../js/cancelados.js"></script>
<script type="defer">  
recursion();
    function recursion(){
            var elem = document.getElementById("myBar");
        var width = 0;
        var id = setInterval(frame, 500);
        function frame() {
            if (width >= 100) {
                elem.style.width = '0%'; 
                document.getElementById('myBar').innerText=0;
                clearInterval(id);
                recursion();
                obtenerCancelados()
            } else {
                width++; 
                document.getElementById('myBar').innerText='Buscando pedidos '+ width +'%';
                elem.style.width = width + '%'; 
            }
        }
    } 
 </script>
 <script>
    window.addEventListener('load',obtenerCancelados());
</script>

